For WEBHOOKS you will need this link, to copy and paste: <br>
You will need a uri <br>
https://jasbotabba.burrow.io/bots/<%=@webhook_uri%>
</p>
You will also need a secret token to verify the connection. <br>
Secret Token: <%=@secret%>
<br>
Subsrcibe your page

<%=link_to "Create a bot", create_story_path%>